{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "semistandard"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
  },
  "globals": {
    "NodeJS": "readonly"
  }
}