{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "semistandard"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "globals": {
    "NodeJS": "readonly"
  }
}